django==5.1.7
djangorestframework==3.15.2
gtts==2.5.4
# opencv-contrib-python>=4.2.0.34
opencv-python==4.11.0.86
cmake==3.31.6
dlib==19.24.6
# moviepy
numpy==1.26.4
pillow==10.4.0
# phonemizer
torch==2.6.0
torchvision==0.21.0
tqdm==4.45.0
torchaudio==2.6.0
ffmpeg-python==0.2.0
scipy==1.11.4
librosa==0.9.1
lws==1.2.8
# TTS
